
#login {
  padding-top: 40px;
  padding-bottom: 40px;
}
#patient-login{
  background-color: #d4d8d5;
}
#doctor-login{
	background-color: 336699;
	color: white;
}
#analytic-login{
  background-color:#fff;
  color:black; 
}
#form-signin{
  /*should be responsive*/
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.logoSloth{
	padding-top: 40px;
	height: 40%;
	width:auto;
}